Infrastructure/backend/.terraform
Infrastructure/backend/terraform.tfstate.backup
Infrastructure/.DS_Store

shared_data
tests
SourceCode/backend/common/src/.env
SourceCode/backend/common/node_modules

SourceCode/backend/microservices/auth/node_modules
SourceCode/backend/microservices/auth/shared_data

SourceCode/backend/microservices/tenants/node_modules
SourceCode/backend/microservices/tenants/shared_data

SourceCode/backend/microservices/billing/node_modules
SourceCode/backend/microservices/billing/shared_data